body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: hotpink; 

}

.toolbar{
    padding-left: 20px;
    padding-right: 40px;
    width: 100%;
    height: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    background-color: dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.name{
    font-size: 60px;
    margin-left: 20px;
    margin-right: 20px;
    color: hotpink;
    opacity: 1;
    width: 400px;
    display: flex;
    justify-content: center;
}

.nav{
    font-size: 40px;
    margin: 20px;   
}

.nav:hover{
    color: white;
    cursor: pointer;
}

.nav>a{
    color: black; 
    text-decoration-line: none;
}

.nav>a:hover{
    color: white;
    transition: 0.4s;
}

.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    background-color: white;
    width: 85%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
    box-shadow: 0 0 5px;
}

.merch{
    height: 300px;
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: groove;
    border-width: 1px;
    padding:10px;
    border-radius: 2px;
    box-shadow: 0 0 2px;
   
}

.merch:hover{
    box-shadow: 0 0 10px hotpink;
}
#logo_hoodie{
    background-image: url(../img/Kiandymundi_logo_hoodie.jpg);
    background-size: contain;
}

#supports_carry{
    background-image: url(../img/Supports_Carry_Shirt.jpg);
    background-size: contain;
}

#suck_chubby_shirt{
    background-image: url(../img/suck_chubby_shirt.jpg);
    background-size: contain;
}

#suck_chubby_hoodie{
    background-image: url(../img/suck_chubby_hoodie.jpg);
    background-size: contain;
}

#goals_shirt{
    background-image: url(../img/goals_shirt.jpg);
    background-size: contain;
}

#jarvan_3_shirt{
    background-image: url(../img/jarvan_3_shirt.jpg);
    background-size: contain;
}